.body{

	display: flex;
	background-color: #dedede;
	padding: 1rem 3rem;
	border-radius: 15px;

	.left{
		margin-right: auto;

		.nombre{
			display: flex;
			align-items: center;

			p {
				margin-right: 1rem;
			}
		}

		.reglas{
			&--field{
				width: 100%;
			}
		}
	}
}