.body{

	display: flex;
	background-color: #dedede;
	padding: 1rem 3rem;
	border-radius: 15px;

	.left{
		margin-right: auto;

		.nombre{
			display: flex;
			align-items: center;

			p {
				margin-right: 1rem;
			}
		}

		.reglas{
			&--field{
				width: 100%;
			}
		}
	}

	.right{
		
		display: flex;
		flex-direction: column;
		justify-content: center;

		.fecha-inicio{
			display: flex;
			align-content: center;
			align-items: center;
			margin-bottom: 10%;

			&--title{
				margin-right: auto;
			}
		}

		.fecha-final{
			display: flex;
			align-items: center;

			&--title{
				margin-right: 1rem;
			}
		}
	}
}