<div>

    <div class="container">
  
      <i (click)="toProfile()" class="fa-solid fa-user"></i>

        <div class="subcontainer" style="width: 51rem;">

            <p class="label"> Name: {{this.privateLeague.Name}} </p>

            <p class="label"> Code: {{this.privateLeague.Unique_Key}}</p>

        </div>

        <div class="container">

      
        <div class="subcontainer">

            <div class="container">

                <p class="tabTitle">Leaderboards</p>

                <div class="tableMat">

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                        
                
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.puntaje.Username}} </td>
                        </ng-container>
                        
                    
                        <ng-container matColumnDef="points">
                            <th mat-header-cell *matHeaderCellDef> Points </th>
                            <td mat-cell *matCellDef="let element"> {{element.puntaje.Points}} </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        [ngClass]="{'first-position':row.position==1, 'second-position':row.position==2, 'third-position':row.position==3}"></tr>
                    </table>
                </div>

            <button (click)="showMore()" mat-flat-button color="primary" *ngIf="puntajes.length>20">Show more</button>
            </div>

            <div class="container" style="margin-left: 2rem;">
                <p>
                    My position
                </p>
                
            <mat-card class="card1">
                <p style="font-size: 10rem;">
                    {{this.privateLeaderboardInfo.position}}
                </p>
            </mat-card>

             </div>

        </div>

        <div class="subcontainer" style="align-self: end;">

            <p class="customizedButtons" style="margin-right: 3rem;"> Delete League </p>

            <p class="customizedButtons"> Edit league </p>

        </div>

    </div>
    
    </div>

</div>