.background{
	display: block;
	height:100%;
	width:100%;
	background-image: linear-gradient(to right, #C84344, rgba(0,0,0,0)),url(../../../assets/background.jpeg);
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}