<div class="content">
	<div class="conformacion"> 
		<div class="escuderia">
			<div class="escuderia--image" [ngClass]="(selectedFrame==1?'active':'')">
				<img #frame1 src="assets/frame.png" alt="Frame" class="toggleMarket" (click)="setActiveFrameEscuderia(1)">
				<img class="escuderia--logo" src="{{this.escuderia.image}}" alt="Escudery logo">
				<p  class="escuderia--name">{{this.escuderia.nombre}}</p>
				<p  class="escuderia--pais">{{this.escuderia.pais}}</p>
			</div>
		</div>

		<div class="pilotos">
				<div class="top--image image-div piloto" [ngClass]="(selectedFrame==2?'active':'')">
					<img  src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(2)">
					<img src="{{this.pilotos[1].image}}" alt="Sample" class="piloto--image">
					<p  class="piloto--name">{{this.pilotos[1].nombre}}</p>
				</div>
				<div class="top--image image-div"[ngClass]="(selectedFrame==3?'active':'')">
					<img  src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(3)">
					<img src="{{this.pilotos[2].image}}" alt="Sample" class="piloto--image">
					<p  class="piloto--name">{{this.pilotos[2].nombre}}</p>
				</div>
				<div class="top--image image-div"[ngClass]="(selectedFrame==4?'active':'')">
					<img src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(4)">
					<img src="{{this.pilotos[3].image}}" alt="Sample" class="piloto--image">
					<p  class="piloto--name">{{this.pilotos[3].nombre}}</p>
				</div>
				<div class="bottom--image image-div"[ngClass]="(selectedFrame==5?'active':'')">
					<img src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(5)">
					<img src="{{this.pilotos[4].image}}" alt="Sample" class="piloto--image">
					<p  class="piloto--name">{{this.pilotos[4].nombre}}</p>
				</div>
				<div class="bottom--image image-div"[ngClass]="(selectedFrame==6?'active':'')">
					<img src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(6)">
					<img src="{{this.pilotos[0].image}}" alt="Sample" class="piloto--image">
					<p  class="piloto--name">{{this.pilotos[0].nombre}}</p>
				</div>
		</div>

		<div class="buttons">
			<div class="cancel">
				<button mat-raised-button color="warn">Cancel</button>
			</div>
			<div class="Guardar">
				<button mat-raised-button color="primary">Save</button>
			</div>
		</div>
	</div>

	<div class="market" *ngIf="showingMarket">
		<div class="section-saldo">
			<div class="title">
				<p>Available</p>
			</div>

			<div class="saldo">
				<p>{{this.authService.perfilUsuario?this.authService.perfilUsuario.saldo:1000000}}</p>
			</div>	
		</div>

		<div class="items">

			<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Filters
				</mat-panel-title>
			</mat-expansion-panel-header>
				<div class="filtros">
					<div class="up">
						<div class="nombre">
							<mat-form-field appearance="fill" color="warn">
								<mat-label>Nombre</mat-label>
								<input matInput>
							</mat-form-field>
						</div>
					</div>
					<div class="down">
						<div class="escuderia">
							<mat-form-field>
								<mat-label>Escuderia</mat-label>
								<mat-select>
									<mat-option value="one">First</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="pais">
							<mat-form-field>
								<mat-label>Pais</mat-label>
								<mat-select>
									<mat-option value="one">First</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-expansion-panel>


			<div class="opciones">
				<div class="card-item" *ngFor="let opcion of this.opcionesMercado" (click)='buyOpcion(opcion)'>
					<div class="image">
						<img src="{{opcion.imagen}}" alt="Imagen de piloto">
					</div>
					<div class="description">
						<div class="nombre">
							<p>{{opcion.nombre}}</p>
						</div>
						<div class="precio">
							<p>{{opcion.precio}}</p>
						</div>
					</div>
				</div>
			
			</div>

		</div>

	</div>
</div>
