<div class="content">
	<div class="conformacion"> 
		<div class="escuderia">
			<div class="escuderia--image" [ngClass]="(selectedFrame==1?'active':'')">
				<img #frame1 src="assets/frame.png" alt="Frame" class="toggleMarket" (click)="setActiveFrameEscuderia(1)">
			</div>
		</div>

		<div class="pilotos">
				<div class="top--image image-div" [ngClass]="(selectedFrame==2?'active':'')">
					<img #frame2 src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(2)">
				</div>
				<div class="top--image image-div"[ngClass]="(selectedFrame==3?'active':'')">
					<img #frame3 src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(3)">
				</div>
				<div class="top--image image-div"[ngClass]="(selectedFrame==4?'active':'')">
					<img #frame4 src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(4)">
				</div>
				<div class="bottom--image image-div"[ngClass]="(selectedFrame==5?'active':'')">
					<img #frame5 src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(5)">
				</div>
				<div class="bottom--image image-div"[ngClass]="(selectedFrame==6?'active':'')">
					<img #frame6 src="assets/frame.png" alt="Frame" class="piloto toggleMarket"(click)="setActiveFrame(6)">
				</div>
		</div>

		<div class="buttons">
			<div class="cancel">
				<button mat-raised-button color="warn">Cancelar</button>
			</div>
			<div class="Guardar">
				<button mat-raised-button color="primary">Guardar</button>
			</div>
		</div>
	</div>

	<div class="market" *ngIf="showingMarket">
		<div class="section-saldo">
			<div class="title">
				<p>Available</p>
			</div>

			<div class="saldo">
				<p>1.000.000.000</p>
			</div>	
		</div>

		<div class="items">


			<mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Filters
				</mat-panel-title>
			</mat-expansion-panel-header>
				<div class="filtros">
					<div class="up">
						<div class="nombre">
							<mat-form-field appearance="fill" color="warn">
								<mat-label>Nombre</mat-label>
								<input matInput>
							</mat-form-field>
						</div>
					</div>
					<div class="down">
						<div class="escuderia">
							<mat-form-field>
								<mat-label>Escuderia</mat-label>
								<mat-select>
									<mat-option value="one">First</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="pais">
							<mat-form-field>
								<mat-label>Pais</mat-label>
								<mat-select>
									<mat-option value="one">First</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-expansion-panel>


			<div class="opciones">
				<div class="card-item">
					<div class="image">
						<img src="assets/pilotoSample.png" alt="Imagen de piloto">
					</div>
					<div class="description">
						<div class="nombre">
							<p>Carlo Sainz</p>
						</div>
						<div class="precio">
							<p>1.000.000.000</p>
						</div>
					</div>
				</div>

				
				<div class="card-item">
					<div class="image">
						<img src="assets/pilotoSample.png" alt="Imagen de piloto">
					</div>
					<div class="description">
						<div class="nombre">
							<p>Carlo Sainz</p>
						</div>
						<div class="precio">
							<p>1.000.000.000</p>
						</div>
					</div>
				</div>


				
				<div class="card-item">
					<div class="image">
						<img src="assets/pilotoSample.png" alt="Imagen de piloto">
					</div>
					<div class="description">
						<div class="nombre">
							<p>Carlo Sainz</p>
						</div>
						<div class="precio">
							<p>1.000.000.000</p>
						</div>
					</div>
				</div>

				<div class="card-item">
					<div class="image">
						<img src="assets/pilotoSample.png" alt="Imagen de piloto">
					</div>
					<div class="description">
						<div class="nombre">
							<p>Carlo Sainz</p>
						</div>
						<div class="precio">
							<p>1.000.000.000</p>
						</div>
					</div>
				</div>

				<div class="card-item">
					<div class="image">
						<img src="assets/pilotoSample.png" alt="Imagen de piloto">
					</div>
					<div class="description">
						<div class="nombre">
							<p>Carlo Sainz</p>
						</div>
						<div class="precio">
							<p>1.000.000.000</p>
						</div>
					</div>
				</div>

				<div class="card-item">
					<div class="image">
						<img src="assets/pilotoSample.png" alt="Imagen de piloto">
					</div>
					<div class="description">
						<div class="nombre">
							<p>Carlo Sainz</p>
						</div>
						<div class="precio">
							<p>1.000.000.000</p>
						</div>
					</div>
				</div>



			</div>


		</div>

	</div>
</div>
