<div class="content">
	<div class="conformacion">
		<div class="escuderia">
			<div class="escuderia--image active">
				<img src="assets/frame.png" alt="Frame" class="escuderia">
			</div>
		</div>

		<div class="pilotos">
				<div class="top--image image-div" >
					<img src="assets/frame.png" alt="Frame" class="piloto">
				</div>
				<div class="top--image image-div">
					<img src="assets/frame.png" alt="Frame" class="piloto">
				</div>
				<div class="top--image image-div">
					<img src="assets/frame.png" alt="Frame" class="piloto">
				</div>
				<div class="bottom--image image-div">
					<img src="assets/frame.png" alt="Frame" class="piloto">
				</div>
				<div class="bottom--image image-div">
					<img src="assets/frame.png" alt="Frame" class="piloto">
				</div>
		</div>

		<div class="buttons">
			<div class="cancel">
				<button mat-raised-button color="warn">Cancelar</button>
			</div>
			<div class="Guardar">
				<button mat-raised-button color="primary">Guardar</button>
			</div>
		</div>
	</div>

	<div class="market">
		<div class="section-saldo">
			<div class="title">
				<p>Available</p>
			</div>

			<div class="saldo">
				<p>1.000.000.000</p>
			</div>	
		</div>

		<div class="items">
			<div class="card-item">
				<div class="image">
					<img src="assets/pilotoSample.png" alt="Imagen de piloto">
				</div>
				<div class="description">
					<div class="nombre">
						<p>Carlo Sainz</p>
					</div>
					<div class="precio">
						<p>1.000.000.000</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
