<app-header></app-header>
<div class="main-window">
    <div class="main-box">
        <div class="left-box">
            <p class="text-font">
                XF1-Online
            </p>
        </div>
        <div class="right-box">
            <mat-form-field class="right-box-items">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="right-box-items">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>

            <div class="example-button-row">
                <button mat-raised-button color="primary">Log in</button>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>