<app-header></app-header>

<div class="body">
	<div class="campeonato-info">
		<div class="title">
			<p>Informacion del campeonato actual</p>
		</div>

		<app-carrera-info></app-carrera-info>
	</div>

    <div class="body-2">


    <div class="campeonato-info">
		<div class="title">
			<p>Resultados de clasificatoria:</p>
			<mat-form-field>
				<mat-label>Resultados</mat-label>
				<textarea matInput type="text" name="reglas"></textarea>
			</mat-form-field>
		</div>
	</div>

    <div class="right">
		<div class="title">
			<p>Resultados de competencia:</p>
			<mat-form-field>
				<mat-label>Resultados</mat-label>
				<textarea matInput type="text" name="reglas"></textarea>
			</mat-form-field>
		</div>
	</div>

</div>

</div>

<app-footer></app-footer>