<div class="main-window">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="main-box">
        <div class="left-box">
            <img src="assets/logos/xf1.png" alt="">
        </div>
       
        <div class="right-box">
           
                <mat-form-field class="right-box-items">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field class="right-box-items">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <p style="font-size: 0.7rem; color: lightgray;">* Fields are required</p>

                <div class="buttons">

                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit">Log in</button>
                    </div>

                    <div class="register-button">
                        <button mat-stroked-button color="primry" (click)="this.isShowingNuevoRegistroModal=true"> Register </button>
                    </div>
                </div>

              
        </div>
        

    </div>
</form>

<div class="modal" *ngIf="isShowingNuevoRegistroModal">
	<app-registro (closeEvent)="closeNuevoRegistroModal()" ></app-registro>
</div>

</div>