
<div class="contenedor"> <!--Contenedor principal-->

    <div class="contenedor-izq"> <!--Contenedor izquierda-->
        <div class="logo">
            <img src="assets/defaultProfile.png" alt="XF1 Logo" class="logo--image">
        </div>

        <p class="name"> Name </p>

        <div class="label-a">
        <i class="fa-solid fa-location-dot"></i>
        <p> Location </p>
        </div>

        <div class="label-a">
            <i class="fa-solid fa-envelope"></i>
            <p> Email </p>
            </div>

        <button style="margin: 1rem; width: 60%;" mat-raised-button color="accent">Edit my info</button>
        <button style= "width: 60%" mat-raised-button color="warn">Sign out</button>
        <button style="margin-top: 4rem; margin-bottom: 3rem; width: 60%" mat-raised-button color="primary">Delete account</button>
        
    </div>

    <div class="contenedor-der"> <!--Contenedor derecha-->
       
        <app-equipo-card class="equipo-card"></app-equipo-card>

        <app-equipo-card *ngIf="hasTeam1" class="equipo-card"></app-equipo-card> 
    </div>

</div>