<div *ngIf="isShowingExistingTeam">
    <mat-card class="card1">

        <div style="width:20%" class="logo">
            <img src="assets/logos/xf1.png" alt="XF1 Logo" class="logo--image">
        </div>

        <div class="logo">
            <img src="assets/logos/xf1.png" alt="XF1 Logo" class="logo--image">
        </div>

        <div class="logo">
            <img src="assets/logos/xf1.png" alt="XF1 Logo" class="logo--image">
        </div>
        
        <div class="logo">
            <img src="assets/logos/xf1.png" alt="XF1 Logo" class="logo--image">
        </div>

        <div class="logo">
            <img src="assets/logos/xf1.png" alt="XF1 Logo" class="logo--image">
        </div>

        <div class="logo">
            <img src="assets/logos/xf1.png" alt="XF1 Logo" class="logo--image">
        </div>

    </mat-card>
</div>

<div *ngIf="!isShowingExistingTeam">
    <mat-card class="card2">Add Team</mat-card>
</div>