<app-header></app-header>
<div class="body">
	
	<div class="campeonato-info">
		<div class="title">
			<p>Informacion del campeonato actual</p>
		</div>

		<app-campeonato-info></app-campeonato-info>
	</div>

	<div class="lista-carreras">
		<div class="title">
			<p>Lista de Carreras del Campeonato</p>
		</div>

		<app-lista-carreras></app-lista-carreras>
	</div>

	<div class="buttons">
		<div class="buttons--new-campeonato">
			<button mat-raised-button color="primary">Crear nuevo campeonato</button>
		</div>
		<div class="buttons--new-carrera"> 
			<button mat-raised-button color="primary">Crear nueva carrera</button>
		</div>
		<div class="buttons--historico">
			<button mat-raised-button color="primary">Ver campeonatos antiguos</button>
		</div>
	</div>

</div>
<app-footer></app-footer>