<div class="content">
	<div class="title title__first">
		<p>Creation of new championship</p>
	</div>

	<form [formGroup]="formData" (ngSubmit)="onSubmit()">
		
		<div class="fields">

			<div class="fields--nombre">
				<div class="title">
					<p>Name of new championship</p>
				</div>
				<mat-form-field class="field">
					<mat-label> Name</mat-label>
					<input matInput type="text" 
						name="nombre" id="nameInput" formControlName="name">
				</mat-form-field>
			</div>

			<div class="fields--dates">

				<div class="title">
					<p>Initial and ending date</p>
				</div>

				<mat-form-field class="field field__start">
					<input matInput 
						[ngxMatDatetimePicker]="startDatePicker" 
						placeholder="Initial date and time" formControlName="startDatetime">
					<mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
					<ngx-mat-datetime-picker #startDatePicker></ngx-mat-datetime-picker>
				</mat-form-field>

				<mat-form-field class="field field__end">
					<input matInput [ngxMatDatetimePicker]="endDatePicker" 
						placeholder="Ending date and time" formControlName="endDatetime">
					<mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
					<ngx-mat-datetime-picker #endDatePicker></ngx-mat-datetime-picker>
				</mat-form-field>

			</div>

			<div class="fields--rules">

				<div class="title">
					<p>Description of scoring rules</p>
				</div>

				<mat-form-field class="field">
					<mat-label>Scoring rules</mat-label>
					<textarea matInput id="reglasInput" formControlName="rules"></textarea>
				</mat-form-field>	

			</div>

		</div>

		<p style="font-size: 0.7rem; color: gray;">* Fields are required.</p>

		<div class="buttons">
			<button mat-raised-button color="warn" (click)="this.closeModal()" >Cancel</button>
			<button type="submit" mat-raised-button color="primary" >Create</button>
		</div>
	</form>
	


</div>